.gitignore
.dockerignore
.gitlab-ci.yml
.idea

docker-compose.yml
Dockerfile
android
*.log
.flutter-plugins
.flutter-plugins-dependencies
.fvm
.fvmrc
.idea
ios
linux
macos
.metadata
switrans
switrans_2_0
switrans_2_0.iml
.vscode
windows



